<form {{action "save" on="submit"}} role="form">
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}
  <div class="form-group">
    <label>First Name</label>
    {{input value=firstName class="form-control"}}
  </div>
  <div class="form-group">
    <label>Last Name</label>
    {{input value=lastName class="form-control"}}
  </div>
  <div class="form-group">
    <label>Email</label>
    {{input value=email class="form-control"}}
  </div>
  <div class="form-group">
    <label>Twitter</label>
    {{input value=twitter class="form-control"}}
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary">
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
</form>
