<div class="friend-profile row">
  <div class="col-sm-4">
    {{fill-murray width=768 height=768}}
  </div>
  <div class="col-sm-8">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>Full Name</th>
          <td>{{model.fullName}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{model.email}}</td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td>{{model.twitter}}</td>
        </tr>
      </tbody>
    </table>
    <p>
      {{link-to "Edit" "friends.edit" this class="btn btn-default"}}
      <button {{action "delete" this}} class="btn btn-danger">Delete</button>
      {{link-to "Lend Article" "articles.new" class="btn btn-default"}}
    </p>
  </div>
</div>

{{outlet}}
