<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "Borrowers" "index" class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{link-to "Dashboard" "index"}}</li>
        <li>{{link-to "Friends" "friends"}}</li>
        <li>{{link-to "New Friend" "friends.new"}}</li>
      </ul>
    </div>
  </div>
</nav>
