<form role="form">
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}
  <div class="form-group">
    <label>Description</label>
    {{input value=model.description class="form-control"}}
  </div>
  <div class="form-group">
    <label>Notes</label>
    {{input value=model.notes class="form-control"}}
  </div>
  <div class="form-group">
    <button {{action "save"}} class="btn btn-primary">Save</button>
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
</form>
