<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Borrowed At</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each itemController="articles/item"}}
      <tr>
        <td>{{model.description}}</td>
        <td>{{formatted-date model.createdAt "LL"}}</td>
        <td>{{view "Ember.Select" content=states selection=model.state}}</td>
        <td>
          {{#if model.isSaving}}
            Saving...
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
